#
# SPDX-FileCopyrightText: The LineageOS Project
# SPDX-License-Identifier: Apache-2.0
#

service vendor.left_stick_axis_swap /vendor/bin/left_stick_axis_swap
    class main
    user root
    group root
    oneshot
    disabled

on property:sys.boot_completed=1
    start vendor.left_stick_axis_swap
